__pycache__/
*.py[cod]
*$py.class
.env
db.sqlite3
staticfiles/
media/
.idea/
.vscode/
venv/
env/

# Segredos e Credenciais (Google Cloud, etc)
client_secret*.json
*.json

# Inteligência e Cache Local
brain/
.gemini/
.antigravity/
*.log
